<div>
	<h3>Login</h3>
	<form class="pure-form pure-form-stacked">
		<fieldset>
			<label for="email">Email</label>
			<input id="email" type="email" name="email" class="pure-input-1" />
			<br />
			<label for="email">Password</label>
			<input id="password" type="password" name="password" class="pure-input-1"/>
			<div class="right">
				<button class="pure-button pure-button-primary login_submit"> Login </button><br />
				<a href="/forgot-password">i forgot my password</a>
			</div>
		</fieldset>
	</form>
</div>