<h1>Update Card</h1>
<p>Why you might need to change your card</p>
<div class="pure-g">
	<div class="pure-u-1-2">
		<form class="pure-form pure-form-stacked">
			<fieldset>
				<label for="card_number">Card Number</label> 
				<input type="text" id="card_number" class="pure-u-2-3"/>
				<div class="pure-g">
					<div class='pure-u-1-2'>
						<label for="card_exp_month">Exp Month</label> 
						<select id="card_exp_month" class="pure-u-2-3">
							<option value='1'>Jan - 1</option>
							<option value='2'>Feb - 2</option>
							<option value='3'>Mar - 3</option>
							<option value='4'>Apr - 4</option>
							<option value='5'>May - 5</option>
							<option value='6'>Jun - 6</option>
							<option value='7'>Jul - 7</option>
							<option value='8'>Aug - 8</option>
							<option value='9'>Sep - 9</option>
							<option value='10'>Oct - 10</option>
							<option value='11'>Nov - 11</option>
							<option value='12'>Dec - 12</option>
						</select>
					</div>
					<div class='pure-u-1-2'>
						<label for="card_exp_year">Exp Year</label> 
						<select id="card_exp_year" class="pure-u-2-3">
							{{#each years}}
							<option value='{{this}}'>{{this}}</option>
							{{/each}}
						</select>
					</div>
				</div>
				<label for="card_cvc">Card CVC</label> 
				<input type="password" id="card_cvc" class="pure-u-1-4"/>
			</fieldset>
		</form>
	</div>
	<div class="pure-u-1-2">
		<p>Information about changing your card, how we are storing your card and probably logos to go along with this. asdfafaa asd asdfas asdfa sdfasd asdf asdfa asdf asdf asdfa fergerger er ryhrthrter  wef wefwe ww we fwefw ewef wefw efwefw</p>
		<button class='pure-button pure-button-primary'>Update</button>
	</div>
</div>
