<div class="center">	
	<a href="/_" class="pure-button center pure-button-primary">Account</a>
</div>
<ul>
	<li>
		<a href="/members" >Members</a>
	</li>
	<li>
		<a href="/logout" >Logout</a>
	</li>
</ul>