<h2>Hello.</h2>
{{#if message}}
	<p class="message">{{message}}</p>
{{/if}}
<p> What would you like to do?</p>
<ul>
	<li> 
		<a href="#" data-view="updateplan">Update Plan</a>
	</li>
	<li> 
		<a href="#" data-view="updatecard">Change Card</a>
	</li>
	<li> 
		<a href="#" data-view="cancelplan">Cancel Membership</a>
	</li>
</ul>

