<h2>Reset Password</h2>
<form class=" pure-form pure-form-stacked">
	<label for="email">Email</label>
	<input type="email" name="email" id="email" value="{{email}}" />
	<input type="submit" class="pure-button alert" value="Request"/>
</form>