<h2>Choose a Plan</h2>
<form></form>
<ul class="plan-list">
	<!--li data-id="0">
		<h3>One Time Charge</h3>
		<p>This will only charge you once and for a specified amount</p>
	</li-->
	{{#each plans}}
		<li>
			<input type="radio" name="plan_id" class="switch" data-id="{{id}}">
			<h3>{{name}}</h3>
			<p>${{amount}} a {{interval}}</p>
		</li>	
	{{/each}}
</ul>
<a href="#" class="pure-button alert submit-plan">Next</a>

