<h2>Signup Today</h2>
<form class=" pure-form pure-form-stacked">
	<label for="email">Email</label>
	<input type="email" name="email" id="email" value="{{email}}" />
	<label for="email">Password</label>
	<input type="password" name="password" id="password" value=""/ >
	<input type="submit" class="pure-button alert" value="Create"/>
</form>