<h2>Donate</h2>
<p>Thanks for your support!</p>
<form class=" pure-form pure-form-stacked">
	<label for="card_number" data-fixture="$">Amount</label>
	<input type="text" name="amount" id="amount" placeholder="0.00" />
	<label for="card_number">Credit Card Number</label>
	<input type="text" name="card_number" id="card_number" />
	<div class="pure-g-r">
		<div class="pure-u-1-3">
			<div>
				<label for="cvc">CVC</label>
				<input type="text" name="card_cvc" id="cvc" value=""/ >
			</div>
		</div>
		<div class="pure-u-1-3">
			<div>
				<label for="card_exp_month">Expiration Month</label>
				<input type="text" name="card_exp_month" id="card_exp_month" value="" placeholder="MM"/ >
			</div>
		</div>
		<div class="pure-u-1-3">
			<div>
				<label for="card_exp_year">Expiration Year</label>
				<input type="text" name="card_exp_year" id="card_exp_year" value="" placeholder="YY"/ >
			</div>
		</div>
	</div>
	<input type="submit" class="pure-button alert" value="Submit"/>
	<a class="donate-cancel pure-button alert">Cancel</a>
</form>
